@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --colorBack: #1b1f24;
  --colorText: #ffffff;
  --colorBtnText: #0d1117;
  --colorBtnBack: #f6f8fa;
  --colorIconBack: #3b3b44;
  --colorHighlight: #F037A5;
  --headerFont: "Helvetica";
  --bodyFont: 'Open Sans', sans-serif;
}

body {
  background-color: var(--colorBack);
  font-family: var(--bodyFont);
  color: var(--colorText);
  position: relative;
}

.image-container {
  position: absolute;
  z-index: -3;
  top: 70px;
  right: 50px;
  rotate: -3deg;
  height: 500px;
  width: 400px;
  border-radius: 30px;
  overflow: hidden;
}

.profile-page {
  /* display: flex; */
  width: 66vw;
  margin: 0px auto;
}

/* @media (max-width: 400px),
(orientation: portrait) {
  .portfolio-body {
    flex-direction: column;
  }
} */

.text-container {}

.text-container>.title {
  color: var(--colorText);
  font-family: var(--headerFont);
  font-size: 3rem;
  padding-top: 60px;
}

.text-container>.subtitle {
  color: var(--bodyFont);
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
  font-size: 1.8rem;
}

.text-container>.description {
  padding-top: 40px;
  color: var(--bodyFont);
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.dropline {
  padding-top: 50px;
  color: var(--bodyFont);
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding-bottom: 60px;
}

.dropline .highlight {
  color: var(--colorHighlight);
  font-weight: 700;
}

#slidedown {
  font-size: 30px;
  margin-bottom: 80px;
  color: var(--colorText);
}

#slidedown:hover {
  /* color: #F037A5; */
  transition: all 0.5s;
  transform: translateY(-5px);
}

/* Tech Stack Section */

.tech-stack {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

.prog-language {
  background-color: var(--colorIconBack);
  height: 60px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.prog-language p {
  color: var(--colorBtnBack);
  text-align: center;
  margin-top: 8px;
  font-size: 12px;
}

.prog-language img {
  width: 80%;
}

.prog-language:nth-child(2) {
  transition-delay: 100ms;
}

.prog-language:nth-child(3) {
  transition-delay: 200ms;
}

.prog-language:nth-child(4) {
  transition-delay: 300ms;
}

.prog-language:nth-child(5) {
  transition-delay: 400ms;
}

.prog-language:nth-child(6) {
  transition-delay: 500ms;
}

.prog-language:nth-child(7) {
  transition-delay: 600ms;
}

.prog-language:nth-child(8) {
  transition-delay: 700ms;
}

.prog-language:nth-child(9) {
  transition-delay: 800ms;
}

.prog-language:nth-child(10) {
  transition-delay: 900ms;
}

.prog-language:nth-child(11) {
  transition-delay: 1000ms;
}

.prog-language:nth-child(12) {
  transition-delay: 1100ms;
}

.prog-language:nth-child(13) {
  transition-delay: 1200ms;
}

.prog-language:nth-child(14) {
  transition-delay: 1300ms;
}

.prog-language:nth-child(15) {
  transition-delay: 1400ms;
}


/* Abilities Section */

.abilities {
  padding-bottom: 120px;
}

.abilities .text {
  padding-bottom: 80px;
  color: var(--bodyFont);
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}

.hidden-2 {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.contact-info {
  position: absolute;
  left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  bottom: 100px;
  width: 70%;
  height: 300px;
  margin: 0px auto;
  background-color: var(--colorBtnBack);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.contact-info>h3 {
  color: var(--colorBtnText);
  font-size: 1.8rem;
  line-height: 1.8rem;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 10px;
}

.contact-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  margin: 0px auto;
  padding: 0px 50px;
  padding-bottom: 30px;
}

.contact-list>li {
  padding-bottom: 20px;
  padding-right: 30px;
}

.contact-list>li:hover {
  transition: all 0.5s;
  transform: translateY(-5px);
}

a {
  text-decoration: none;
  color: var(--colorHighlight);
  font-family: var(--headerFont);
  font-size: 24px;
}

li i {
  font-size: 20px;
  text-align: center;
  color: var(--colorHighlight);
}

img {
  height: 100%;
}

/* Footer Section */

footer {
  position: relative;
  background-color: var(--colorText);
  height: 300px;
}

footer>p {
  position: absolute;
  left: 20px;
  bottom: 10px;
  color: var(--colorBack);
}

footer a {
  font-size: 100%;
}

/* button {
  padding: 15px;
  background-color: #000000f2;
  border-radius: 50px;
  border: 5px solid #2D46B9;
  margin-top: 10px;
}

button a {
  font-weight: 700;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  color: #2D46B9;
} */

/* dice face */

.react-ability {
  display: flex;
  flex-direction: row;
}

.single-dice {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  background-color: white;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
  flex-shrink: 0;
}

.fifth-face {
  height: 80%;
  width: 80%;
  margin: 10% auto;
  display: flex;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fifth-face .column:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  scroll-behavior: smooth;
}
